{% extends "base.html" %}

{% block content %}

    <h1>{{ alojamiento.nombre }}</h1>
    <br>

    <div class="alojamiento-detalle">
        <!-- Columna Izquierda: Slider -->
        <div class="columna-izquierda">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="{{ alojamiento.imagen1 }}" alt="Imagen 1"></div>
                    <div class="swiper-slide"><img src="{{ alojamiento.imagen2 }}" alt="Imagen 2"></div>
                    <div class="swiper-slide"><img src="{{ alojamiento.imagen3 }}" alt="Imagen 3"></div>
                </div>
                <!-- Botones de navegación -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <!-- Paginación -->
                <div class="swiper-pagination"></div>
            </div>
            <p><strong>Capacidad:</strong> 12
            <strong>- Baños:</strong> 2
            <strong>- Cuartos:</strong> 5
            <strong>- Camas:</strong> 10
            <strong>- Habitaciones:</strong> 5</p>
        </div>

        <!-- Columna Derecha: Información -->
        <div class="columna-derecha">
            <div class="info-alojamiento">
                <h2>Calificación promedio: </h2>
                <h1>
                <img src="{{ url_for('static', filename='images/star.png') }}" alt="logo de la estrella">
                5 estrellas
                <img src="{{ url_for('static', filename='images/star.png') }}" alt="logo de la estrella">
                </h1>
                <h2>$150.000</h2> precio por noche
            </div>
            <div class="fechas-reserva">
                <div class="fecha-izquierda">
                    <strong>Fecha inicio</strong><br>
                    <input type="date" id="fecha-inicio" required>
                </div>
                <div class="fecha-derecha">
                    <strong>Fecha fin</strong><br>
                    <input type="date" id="fecha-fin" required>
                </div>
            </div>
            <strong>Total a pagar: $1.500.000</strong><br>
            5 noches<br>
            <!-- Botón de pago -->
            <a href="{{ url_for('view_user.pago') }}" class="btn-reserva">Reservar</a>
        </div>
    </div>

{% endblock %}
