{% extends "base.html" %}

{% block content %}
    <h1>Alojamientos</h1>
    <p>Aquí encontrarás la mejor experiencia de alojamiento.</p>
    <h3>Alojamientos Disponibles</h3>
    
    <div class="alojamientos-grid">
        {% for alojamiento in alojamientos %}
            <div class="alojamiento-card">
                <a href="{{ url_for('view_user.alojamiento_detalle', id=alojamiento.id) }}">
                    <img src="{{ alojamiento.addressone }}" alt="{{ alojamiento.name }}">
                    <h3>{{ alojamiento.name }}</h3>
                    <p>Precio: ${{ alojamiento.price}} por noche</p>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}