<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DepoHunter</title>
    <link rel="stylesheet" href="../static/css/home_style.css">
    <!-- Flatpickr CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>
<body>
    <nav class="navbar-principal">
        <div class="navbar-logo">
            <img src="../static/images/logo.png" alt="logo de DepoHunter">
            <h1>DepoHunter</h1>
        </div>
        <div class="navbar-enlaces">
            <a href="#">Iniciar Sesión</a>
            <a href="#">Registro</a>
        </div>
    </nav>

    <!-- Navbar Secundario -->
    <nav class="navbar-secundario">
        <input type="text" placeholder="Buscar..." class="search-box">

        <input type="text" id="datepicker" placeholder="Selecciona las fechas...">
        <div id="resultado"></div>

    </nav>

    <!-- Contenido Principal -->
    <div class="contenido">
        <h1>Alojamientos</h1>
        <p>Aquí encontrarás la mejor experiencia de alojamiento.</p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script> 
    <script src="../static/js/home_js.js"></script>
</body>
</html>
